{% if note.type == 'audio' %}
  {% set episode = note.audio %}
  <div class="entry-audio js-audio">
    <audio class="u-audio" src="{{ episode.audio.src }}" preload="none" controls
          data-title="{{ note.title }}"
          data-duration="{{ episode.audio.duration }}"
          {% if episode.image %}data-image="{{ episode.image }}"{% endif %}>
    </audio>
  </div>
{% endif %}
