{% if note.type == 'post' %}
  <div id="item-{{ note.id }}" class="item Article {% if note.cover %}Cover{% else %}Text{% endif %}" lang="{{ note.lang }}">
    {% if note.cover %}
      <a class="item-cover" href="{{ note.url }}">
        <div class="item-cover_image">
          <div class="js-cover" data-src="{{ note.cover|thumbnail }}"></div>
        </div>
        <div class="item-cover_inner">
          <time class="js-time" datetime="{{ note.published_at|xmldatetime }}">{{ note.published_at|dateformat('%b %d, %Y') }}</time>
          <h3>{{ note.title }}</h3>
          {%- if note.subtitle -%}
            <h4>{{ note.subtitle }}</h4>
          {% endif %}
        </div>
      </a>
    {% else %}
      <div class="item-meta">
        <time class="js-time" datetime="{{ note.published_at|xmldatetime }}">{{ note.published_at|dateformat('%b %d, %Y') }}</time>
      </div>
      <a class="item-main" href="{{ note.url }}">
        <h3>{{ note.title }}</h3>
        {% if note.subtitle %}
          <div class="item-subtitle">{{ note.subtitle }}</div>
        {% endif %}
      </a>
    {% endif %}
  </div>
{% elif note.type == 'audio' %}
  {% set episode = note.audio %}
  <div id="item-{{ note.id }}" class="item Episode">
    {% if episode.image %}
      <a class="item-image" href="{{ note.url }}">
        <img src="{{ episode.image|thumbnail('ss') }}" alt="{{ note.title }}" loading="lazy" width="120" height="120">
      </a>
    {% endif %}
    <a class="item-main" href="{{ note.url }}">
      <div class="item-meta">
        {% if episode.season and episode.episode %}
          <span class="item-label">S{{ episode.season }}E{{ episode.episode }}</span>
        {% elif episode.episode %}
          <span class="item-label">E{{ episode.episode }}</span>
        {% endif %}
        <span class="item-label">{{ episode.audio.duration|durationformat }}</span>
        <time class="js-time" datetime="{{ note.published_at|xmldatetime }}">{{ note.published_at|dateformat('%b %d, %Y') }}</time>
      </div>
      <h3>{{ note.title }}</h3>
      {%- if note.subtitle %}
        <div class="item-subtitle">{{ note.subtitle }}</div>
      {%- endif -%}
    </a>
  </div>
{% elif note.type == 'review' %}
  {% set review = note.review %}
  <div id="item-{{ note.id }}" class="item Review">
    {% if review.item_image %}
      <a class="item-image" href="{{ note.url }}">
        <img src="{{ review.item_image }}" alt="{{ review.item_name }}" loading="lazy">
      </a>
    {% endif %}
    <a class="item-main" href="{{ note.url }}">
      <h3>{{ note.title }}</h3>
      <div class="item-meta">
        <time class="js-time" datetime="{{ note.published_at|xmldatetime }}">{{ note.published_at|dateformat('%b %d, %Y') }}</time>
      </div>
      <div class="item-review">
        <span class="item-review_title">{{ review.item_name }}</span>
        <span class="item-review_author">{{ review.item_author }}</span>
      </div>
      {% if note.subtitle %}
        <div class="item-subtitle">{{ note.subtitle }}</div>
      {% endif %}
    </a>
  </div>
{% elif note.type == 'photos' %}
  <div id="item-{{ note.id }}" class="item Photos">
    <div class="item-main">
      <time class="js-time" datetime="{{ note.published_at|xmldatetime }}">{{ note.published_at|dateformat('%b %d, %Y') }}</time>
      <h3><a href="{{ note.url }}">{{ note.title }}</a></h3>
      {% if note.subtitle %}
        <div class="item-subtitle">{{ note.subtitle }}</div>
      {% endif %}
    </div>
    <div class="item-content">
      {{ note.content|safe }}
    </div>
  </div>
{%- endif -%}
