{% if pagination.items %}
  <div class="entries">
    {% for note in pagination.items %}
    <article class="h-entry">
      <h2 class="p-name">
        <a href="{{ note.url }}">{{ note.title }}</a>
      </h2>
      <p class="p-summary">{{ note.summary }}</p>
      <div class="entry-meta">
        {% include "./entry-meta.j2" %}
      </div>
    </article>
    {% endfor %}
  </div>
{% else %}
  <div class="entries">
    <article class="h-entry">
      <h2>{{ translate('none') }}</h2>
    </article>
  </div>
{% endif %}
