<div class="footer mt-8 text-center">
  <nav class="foot-nav mb-8 flex gap-4 justify-center">
    {% for column in query.all_columns() %}
      <a href="{{ column.url }}">{{ column.title }}</a>
    {% endfor %}
  </nav>
  <div class="copyright text-sm text-gray-600">
    {% if theme_copyright %}
    <p>{{ theme_copyright }}</p>
    {% else %}
    <p>&copy; {{ site.name }}</p>
    {% endif %}
  </div>
</div>
