<script>function setColorMode(t){let e=document.documentElement;e.setAttribute("data-color-mode",t);let a=window.matchMedia&&window.matchMedia("(prefers-color-scheme: dark)").matches,s=t;"auto"===t&&(s=a?"dark":"light"),"light"===s?(e.classList.remove("dark"),e.classList.add("light")):(e.classList.remove("light"),e.classList.add("dark"))}setColorMode(sessionStorage._theme||"{{theme_color_mode}}");</script>
<header class="header justify-between items-center md:flex">
  <div class="flex items-center">
    <a class="logo mr-3" href="/">{% include "components/site_logo.j2" %}</a>
    <button class="js-theme theme-switch flex items-center"
      data-aria-auto="{{ translate('switch_light') }}"
      data-aria-light="{{ translate('switch_dark') }}"
      data-aria-dark="{{ translate('switch_auto') }}">
      <i class="theme-icon"></i>
    </button>
  </div>
  <nav>
    {% if theme_nav_links %}
    <ul class="nav-links flex gap-3 mx-0 my-4 md:my-0">
      {% for item in theme_nav_links %}
      <li><a href="{{ item.url }}"{% if item.blank %} target="_blank"{% endif %}>{{ item.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </nav>
</header>
