<div class="schema" data-type="Review">
  <table>
    <tbody>
      <tr>
        {% if note.review.item_image %}
          <td class="schema-image">
            <img referrerpolicy="no-referrer" src="{{ note.review.item_image }}" alt="{{ note.review.item_name }}" loading="lazy" width="120" />
          </td>
        {% endif %}
        <td class="schema-info">
          <h3 class="schema-name">{{ note.review.item_name }}</h3>
          {% if note.review.item_author %}
            <div class="schema-author">{{ note.review.item_author }}</div>
          {% endif %}
          {% if note.review.rating %}
            <div class="schema-rating">
              <span>{{ '★'|repeat(note.review.rating) }}</span><span>{{ '☆'|repeat(5 - note.review.rating) }}</span>
            </div>
          {% endif %}
          {% if note.review.item_data.description %}
            <div class="schema-description">{{ note.review.item_data.description }}</div>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
</div>
