<div class="entry-share">
  <a class="js-share" data-type="tw" href="#" aria-label="Share to Twitter (X)">
    <iconify-icon icon="prime:twitter" />
  </a>
  {% if note.lang.startswith('zh') %}
  <a class="js-share" data-type="wb" href="#" aria-label="分享到微博">
    <iconify-icon icon="simple-icons:sinaweibo" />
  </a>
  <a class="js-share" data-type="wx" href="#" aria-label="分享到微信">
    <iconify-icon icon="simple-icons:wechat" />
  </a>
  {% else %}
  <a class="js-share" data-type="fb" href="#" aria-label="Share to Facebook">
    <iconify-icon icon="simple-icons:facebook" />
  </a>
  {% endif %}
  <a class="js-share" data-type="tg" href="#" aria-label="Share to Telegram">
    <iconify-icon icon="simple-icons:telegram" />
  </a>
</div>
