<script>function setColorMode(t){let e=document.documentElement;e.setAttribute("data-color-mode",t);let a=window.matchMedia&&window.matchMedia("(prefers-color-scheme: dark)").matches,s=t;"auto"===t&&(s=a?"dark":"light"),"light"===s?(e.classList.remove("dark"),e.classList.add("light")):(e.classList.remove("light"),e.classList.add("dark"))}setColorMode(sessionStorage._theme||"{{ theme_color_mode }}");</script>
<button class="js-theme theme-switch flex items-center"
  data-aria-auto="{{ translate('switch_light') }}"
  data-aria-light="{{ translate('switch_dark') }}"
  data-aria-dark="{{ translate('switch_auto') }}">
  <i class="theme-icon"></i>
</button>
