.admonition {
  --icon-pencil: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83 3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75z"/></svg>');
  --icon-abstract: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 5h16v2H4zm0 4h16v2H4zm0 4h16v2H4zm0 4h10v2H4z"/></svg>');
  --icon-info: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2"/></svg>');
  --icon-flame: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.55 11.2c-.23-.3-.5-.56-.76-.82-.65-.6-1.4-1.03-2.03-1.66C13.3 7.26 13 4.85 13.91 3c-.91.23-1.75.75-2.45 1.32-2.54 2.08-3.54 5.75-2.34 8.9.04.1.08.2.08.33 0 .22-.15.42-.35.5-.22.1-.46.04-.64-.12a.8.8 0 0 1-.15-.17c-1.1-1.43-1.28-3.48-.53-5.12C5.89 10 5 12.3 5.14 14.47c.04.5.1 1 .27 1.5.14.6.4 1.2.72 1.73 1.04 1.73 2.87 2.97 4.84 3.22 2.1.27 4.35-.12 5.96-1.6 1.8-1.66 2.45-4.32 1.5-6.6l-.13-.26c-.2-.46-.47-.87-.8-1.25zm-3.1 6.3c-.28.24-.73.5-1.08.6-1.1.4-2.2-.16-2.87-.82 1.19-.28 1.89-1.16 2.09-2.05.17-.8-.14-1.46-.27-2.23-.12-.74-.1-1.37.18-2.06.17.38.37.76.6 1.06.76 1 1.95 1.44 2.2 2.8.04.14.06.28.06.43.03.82-.32 1.72-.92 2.27z"/></svg>');
  --icon-question: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m15.07 11.25-.9.92C13.45 12.89 13 13.5 13 15h-2v-.5c0-1.11.45-2.11 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41a2 2 0 0 0-2-2 2 2 0 0 0-2 2H8a4 4 0 0 1 4-4 4 4 0 0 1 4 4 3.2 3.2 0 0 1-.93 2.25M13 19h-2v-2h2M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10c0-5.53-4.5-10-10-10"/></svg>');
  --icon-warning: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 14h-2v-4h2m0 8h-2v-2h2M1 21h22L12 2z"/></svg>');
  --icon-failure: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2c5.53 0 10 4.47 10 10s-4.47 10-10 10S2 17.53 2 12 6.47 2 12 2m3.59 5L12 10.59 8.41 7 7 8.41 10.59 12 7 15.59 8.41 17 12 13.41 15.59 17 17 15.59 13.41 12 17 8.41z"/></svg>');
  --icon-spark: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m11.5 20 4.86-9.73H13V4l-5 9.73h3.5zM12 2c2.75 0 5.1 1 7.05 2.95S22 9.25 22 12s-1 5.1-2.95 7.05S14.75 22 12 22s-5.1-1-7.05-2.95S2 14.75 2 12s1-5.1 2.95-7.05S9.25 2 12 2"/></svg>');
  --color-admonition-accent: var(--accent-10);
  --color-admonition-title: var(--accent-3);
  --icon-admonition: var(--icon-abstract);
}
.admonition.attention {
  --icon-admonition: var(--icon-warning);
  --color-admonition-accent: #ff5252;
  --color-admonition-title: rgba(255,82,82,.2);
}
.admonition.tip {
  --icon-admonition: var(--icon-info);
  --color-admonition-accent: #00c852;
  --color-admonition-title: rgba(0,200,82,.2);
}
.admonition.hint {
  --icon-admonition: var(--icon-question);
  --color-admonition-accent: #00c852;
  --color-admonition-title: rgba(0,200,82,.2);
}
.admonition.caution {
  --icon-admonition: var(--icon-spark);
  --color-admonition-accent: #ff9100;
  --color-admonition-title: rgba(255,145,0,.2);
}
.admonition.danger {
  --icon-admonition: var(--icon-spark);
  --color-admonition-accent: #ff5252;
  --color-admonition-title: rgba(255,82,82,.2);
}
.admonition.error {
  --icon-admonition: var(--icon-failure);
  --color-admonition-accent: #ff5252;
  --color-admonition-title: rgba(255,82,82,.2);
}
.admonition.note {
  --icon-admonition: var(--icon-pencil);
  --color-admonition-accent: #00b0ff;
  --color-admonition-title: rgba(0,176,255,.2);
}
.admonition.important {
  --icon-admonition: var(--icon-flame);
  --color-admonition-accent: #00c852;
  --color-admonition-title: rgba(0,200,82,.2);
}
.admonition.warning {
  --icon-admonition: var(--icon-warning);
  --color-admonition-accent: #ff9100;
  --color-admonition-title: rgba(255,145,0,.2);
}

.admonition {
  position: relative;
  margin: 1rem auto;
  overflow: hidden;
  padding: 0 .5rem .5rem;
  page-break-inside: avoid;
  background: transparent;
  box-shadow: .2rem .5rem 0.625rem rgba(0,0,0,.05), 0 0 .0625rem rgba(0,0,0,.1);
  border-radius: 3px;
  border-left: .2rem solid var(--color-admonition-accent);
}
.admonition-title {
  position: relative;
  font-size: 0.825rem;
  font-weight: 500;
  line-height: 1.3;
  margin: 0 -.5rem .5rem;
  padding: .4rem .5rem .4rem 2rem;
  background-color: var(--color-admonition-title)
}
.admonition-title:before {
  position: absolute;
  left: .5rem;
  content: "";
  height: 1rem;
  width: 1rem;
  background-color: var(--color-admonition-accent);
  -webkit-mask-image: var(--icon-admonition);
  mask-image: var(--icon-admonition);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.admonition-title + * {
  margin-top: 0;
}
.admonition p:last-of-type {
  margin-bottom: 0;
}
