.entry-meta {
  vertical-align: middle;
  color: var(--gray-9);
  font-size: 14px;
  margin-bottom: 10px;
}
.entry-meta a {
  text-decoration: none;
  color: var(--gray-10);
  font-weight: 700;
}

time.dt-published {
  text-transform: uppercase;
  vertical-align: middle;
}

.entry-tags {
  margin: 1.6em 0 1.2em;
}

.entry-tags a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 14px;
  color: var(--gray-11);
  background: var(--gray-a3);
  padding: 0.4rem 0.8rem;
  font-weight: 500;
}

.entry-tags a:before {
  content: '#';
  font-weight: 900;
  color: var(--gray-5);
  margin-right: 2px;
}
.entry-tags a:hover {
  text-decoration: none;
  color: var(--accent-1);
  background: var(--accent-a9);
}
.entry-tags a + a {
  margin-left: 4px;
}

.entry-cover {
  margin-bottom: 2em;
}

.entry-audio audio {
  width: 100%;
}

.h-entry .entry-audio {
  margin-top: 20px;
  margin-bottom: 40px;
}

.h-entry .shk-player {
  border: 1px solid var(--gray-a5);
  font-family: inherit;
}

.entry-block {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.entry-section {
  padding: 20px 0;
}

.entry-section h2 {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--gray-10);
}

.prev-subject .item {
  font-size: 18px;
  line-height: 1.42;
  margin: 10px 0;
  padding: 0;
  border: 0;
}

.prev-subject .item h3 {
  margin: 0.2em 0;
  font-size: 1.3em;
  color: var(--gray-12);
}

.prev-subject .item-subtitle {
  font-size: 1em;
}

.prev-subject a:hover h3 {
  color: var(--accent-9);
}

.prev-subject .item-meta {
  margin: 0;
}


@media (max-width: 680px) {
  .prev-subject h3 {
    font-size: 1.2em;
  }
  .entry-share a[data-type="wx"] {
    display: none;
  }
}
@media (max-width: 520px) {
  .prev-subject h3 {
    font-size: 1.1em;
  }
}
