h1.p-name {
  font-size: 38px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--gray-12);
}

h2.p-summary {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 300;
  color: var(--gray-10);
}

.h-entry .e-content {
  font-size: 18px;
  line-height: 1.62;
  margin-top: 2em;
  margin-bottom: 3em;
}

.h-entry > .schema {
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (max-width: 680px) {
  h1.p-name {
    font-size: 32px;
  }
  h2.p-summary {
    font-size: 20px;
  }
}
