button.theme-switch {
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.theme-switch:after {
  display: none;
  content: attr(aria-label);
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0 10px;
  border-radius: 3px;
  background-color: var(--gray-12);
  color: var(--gray-1);
  font-size: 11px;
  font-weight: 500;
  white-space: pre;
  z-index: 10000;
  margin-top: 5px;
  line-height: 26px;
  transform: translateX(0);
}

.theme-switch:hover:before,
.theme-switch:hover:after {
  display: block;
}

.theme-icon {
  mask: var(--icon-url) no-repeat;
  mask-size: 100% 100%;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  background-color: var(--text-color);
}

.theme-switch .theme-icon,
[data-color-mode="auto"] .theme-switch .theme-icon {
  --icon-url: var(--lucide-laptop-url);
}
[data-color-mode="light"] .theme-switch .theme-icon {
  --icon-url: var(--lucide-sun-url);
}
[data-color-mode="dark"] .theme-switch .theme-icon {
  --icon-url: var(--lucide-moon-url);
}

.light-logo, .dark-logo {
  display: none;
}
.light .light-logo {
  display: inline-block;
}
.dark .dark-logo {
  display: inline-block;
}
