:root {
  --code-block-background-light: #f9f9f9;
  --code-block-background-dark: #18181b;
  --code-block-background: var(--code-block-background-light);
}

.dark {
  --code-block-background: var(--code-block-background-dark);
}

.light .shiki span {
  color: var(--shiki-light, inherit);
}

.dark .shiki span {
  color: var(--shiki-dark, inherit);
}

.block-code {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.375rem;
  color: var(--text-color);
  background-color: var(--code-block-background);
}

.block-code pre {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem 0;
  overflow-x: auto;
}

.block-code pre > code {
  display: block;
  padding: 0 1.5rem;
  width: fit-content;
  min-width: 100%;
  box-sizing: border-box;
}

.block-code .caption {
  font-size: 0.825rem;
  font-weight: 500;
  font-family: var(--font-text);
  background-color: var(--gray-a2);
  padding: 0.25rem 1.5rem;
  border-radius: 0.375rem 0.375rem 0 0;
}

.block-code .caption + pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.block-code span.line {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 -1.5rem;
  padding: 0 1.5rem;
  width: calc(100% + 3rem);
}

.block-code span.highlighted {
  background-color: var(--accent-a3);
}

.block-code span[data-line] {
  padding-left: 0.6rem;
}

.block-code span[data-line]:before {
  content: attr(data-line);
  display: inline-block;
  box-shadow: -.05rem 0 var(--gray-8) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-right: .8rem;
  padding-right: .6rem;
  width: 2rem;
  text-align: right;
  opacity: .6;
  box-sizing: border-box;
}

@media not all and (min-width: 640px) {
  .block-code {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    border-radius: 0;
  }
  .block-code pre {
    border-radius: 0;
  }
  .block-code .caption {
    border-radius: 0;
  }
}


clipboard-copy {
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0.325rem;
  border: 1px solid #747686;
  background-color: #40424b;
}

clipboard-copy svg {
  width: 0.825rem;
  height: 0.825rem;
  fill: #f7f7f7;
}

clipboard-copy svg + svg {
  display: none;
}

clipboard-copy.copied svg:first-child {
  display: none;
}

clipboard-copy.copied svg + svg {
  display: inline-block;
  fill: #98C379;
}

.block-code clipboard-copy {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  opacity: 0.2;
  transition: opacity 0.2s ease;
}

.block-code.has-caption clipboard-copy {
  top: 2.5rem;
}

.block-code:hover clipboard-copy {
  opacity: 0.6;
}

.block-code clipboard-copy.copied,
.block-code clipboard-copy:hover {
  opacity: 1;
}
