.schema {
  background-color: var(--gray-a2);
  border-radius: 6px;
}

.e-content .schema {
  margin-bottom: 1.2rem;
}

.schema td {
  padding: 0.825rem;
  vertical-align: top;
}

.schema-image img {
  object-fit: cover;
  min-height: 100px;
  min-width: 100px;
  margin: 0;
}

.schema-image + .schema-info {
  padding-left: 0;
}

.schema .schema-name {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0.25rem;
}

.schema:where([data-type="Review"]) .schema-name {
  margin-bottom: 0.825rem;
}

.schema-author {
  font-size: 0.875rem;
  color: var(--gray-a10);
  margin-bottom: 0.625rem;
}

.schema-rating {
  margin-bottom: 0.625rem;
}

.schema-description {
  font-size: 0.925rem;
  color: var(--gray-a11);
}

.schema-action a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.825rem;
  font-family: var(--font-sans), sans-serif;
  display: inline-block;
  padding: 4px 14px;
  background: var(--accent-a3);
  color: var(--accent-9);
  border-radius: 20px;
  line-height: 18px;
  margin-right: 1em;
  text-decoration: none;
}

.schema-action a:hover {
  color: var(--accent-11);
  background: var(--accent-a4);
}

.schema-action .schema-rating {
  margin-bottom: 0;
}

.schema-link a {
  color: var(--gray-a10);
  font-size: 0.765rem;
  text-decoration: none;
}

.opengraph,
.oembed {
  margin-bottom: 1.2rem;
}

.opengraph {
  background-color: var(--gray-a2);
  border-radius: 6px;
}

.opengraph:hover {
  background-color: var(--accent-a3);
}

.opengraph > a {
  display: flex;
  gap: 0.825rem;
  text-decoration: none;
}

.opengraph img {
  height: 140px;
  object-fit: cover;
  border-radius: 6px 0 0 6px;
}

.opengraph-content {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  height: 140px;
  box-sizing: border-box;
  overflow: hidden;
}

.opengraph .p-name {
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 0.25rem;
}

.opengraph .p-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 680px) {
  .schema .schema-name {
    font-size: 1.12rem;
    margin-bottom: 0.25rem;
  }
  .schema-author {
    margin-bottom: 0.2rem;
  }
  .opengraph img,
  .opengraph-content {
    height: 120px;
  }
  .opengraph .p-content {
    -webkit-line-clamp: 2;
  }
}
