.previous-entry {
  padding: 1.5rem 0;
  border-top: 1px solid var(--gray-a4);
}

.previous-entry h2 {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--gray-10);
}

.previous-entry a {
  margin-top: 1rem;
  line-height: 1.42;
  display: block;
  color: var(--gray-11);
  text-decoration: none;
}

.previous-entry a:hover {
  opacity: 0.8;
}

.previous-entry h3 {
  margin: 0.2em 0;
  font-size: 1.3em;
  color: var(--gray-12);
}

@media (max-width: 680px) {
  .previous-entry h3 {
    font-size: 1.2em;
  }
}
@media (max-width: 520px) {
  .previous-entry h3 {
    font-size: 1.1em;
  }
}
