:root {
  --lucide-external-url:url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M13 5h6v6m0-6L5 19'/%3E%3C/svg%3E");
  --lucide-laptop-url:url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Crect width='18' height='12' x='3' y='4' rx='2' ry='2'/%3E%3Cpath d='M2 20h20'/%3E%3C/svg%3E");
  --lucide-moon-url:url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M12 3a6.364 6.364 0 0 0 9 9 9 9 0 1 1-9-9z'/%3E%3C/svg%3E");
  --lucide-sun-url:url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Ccircle cx='12' cy='12' r='4'/%3E%3Cpath d='M12 2v2m0 16v2M4.93 4.93l1.41 1.41m11.32 11.32 1.41 1.41M2 12h2m16 0h2M6.34 17.66l-1.41 1.41M19.07 4.93l-1.41 1.41'/%3E%3C/svg%3E");
}

button.theme-switch {
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.theme-switch:after {
  display: none;
  content: attr(aria-label);
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0 10px;
  border-radius: 3px;
  background-color: var(--gray-12);
  color: var(--gray-1);
  font-size: 11px;
  font-weight: 500;
  white-space: pre;
  z-index: 10000;
  margin-top: 5px;
  line-height: 26px;
  transform: translateX(0);
}

.theme-switch:hover:before,
.theme-switch:hover:after {
  display: block;
}

.theme-icon {
  mask: var(--icon-url) no-repeat;
  mask-size: 100% 100%;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  background-color: var(--text-color);
}

.theme-switch .theme-icon,
[data-color-mode="auto"] .theme-switch .theme-icon {
  --icon-url: var(--lucide-laptop-url);
}
[data-color-mode="light"] .theme-switch .theme-icon {
  --icon-url: var(--lucide-sun-url);
}
[data-color-mode="dark"] .theme-switch .theme-icon {
  --icon-url: var(--lucide-moon-url);
}

.light-logo, .dark-logo {
  display: none;
}
.light .light-logo {
  display: inline-block;
}
.dark .dark-logo {
  display: inline-block;
}
