.h-entry {
  @apply bg-white dark:bg-slate-800;
  padding: 1.5rem;
  border-radius: 6px;
}

.entries .h-entry {
  margin-bottom: 1rem;
}

.entries h2 {
  margin: 0;
  font-size: 1.2rem;
}

.entries a {
  color: var(--text-color);
}

.entries a:hover {
  color: var(--accent-9);
}

.entry-meta {
  display: flex;
  gap: 2rem;
  font-size: 0.875rem;
  @apply max-sm:flex-col max-sm:gap-2;
}

.entry-meta svg {
  width: 1em;
  height: 1em;
}

.entry-meta a {
  color: var(--text-color);
}
