{% block styles %}
<style amp-custom>
{% filter compress %}
  {% if theme_accent_color %}
    :root{--accent-color:{{ theme_accent_color }}}
  {% endif %}
  {% include "./_partials/amp.css" %}
{% endfilter %}
</style>
{% endblock %}

{% block body %}
<header class="head">
  <a href="{{ note.url }}">
    {% if site.glyph_logo %}
      <amp-img src="{{ site.glyph_logo|thumbnail('ss') }}" height="30" width="30" layout="fixed"></amp-img>
    {% endif %}
    <span>{{ site.name }}</span>
  </a>
</header>
<main>
  <article>
    {% if note.cover and note.cover.src %}
    <amp-img src="{{ note.cover|thumbnail }}" width="{{ note.cover.width }}" height="{{ note.cover.height }}" layout="responsive"></amp-img>
    {%- endif -%}
    <div class="main">
      <div class="meta">
        <time datetime="{{ note.published_at|xmldatetime }}">{{ note.published_at|dateformat('%b %d, %Y') }}</time>
      </div>
      <h1 class="title">{{ note.title }}</h1>
      {%- if note.subtitle -%}
        <h2 class="subtitle">{{ note.subtitle }}</h2>
      {%- endif -%}
      <div class="content">{{ note.content|safe }}</div>
    </div>
  </article>
</main>
<footer class="foot">
  <a href="https://typlog.com/?utm_medium=foot&utm_source=AMP">
    <amp-img src="https://typlog.com/assets/icon-white.svg" width="30" height="30" layout="fixed"></amp-img>
    <span>AMP powered by Typlog</span>
  </a>
</footer>
{% endblock %}
