{% block styles %}
<link rel="stylesheet" href="{{ _static_url }}/base.css">
{% endblock %}

{% block scripts %}
<script src="{{ _static_url }}/app.js" type="module" async></script>
{% include "components/iconify-icon.j2" %}
{% include "components/lightbox.j2" %}
{% endblock %}

{% block body %}
  {% include "./_partials/theme-switch.j2" %}
  <div class="body">
    {% include "./_partials/site-side.j2" %}
    <div class="main js-lightbox">
      <div class="inner main_mark" data-page-container>
        <section class="main_head">
          <h1>{{ translate('archive') }}</h1>
        </section>
        {% if pagination.items %}
          {% for note in pagination.items %}
            {% include "./_partials/entry-item.j2" %}
          {% endfor %}
        {% endif %}
        {% include "./_partials/navigation.j2" %}
      </div>
    </div>
  </div>
  {% include "./_partials/site-foot.j2" %}
{% endblock %}
