{% block styles %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ _static_url }}/base.css">
<link rel="stylesheet" href="{{ _static_url }}/content.css">
{% endblock %}

{% block scripts %}
<script src="{{ _static_url }}/app.js" type="module"></script>
{% include "components/clipboard-copy.j2" %}
{% include "components/iconify-icon.j2" %}
{% include "components/lightbox.j2" %}
{% endblock %}

{% block body %}
  {% include "./_partials/theme-switch.j2" %}
  <div class="body">
    {% include "./_partials/site-side.j2" %}
    <div class="main">
      <div class="main_mark inner">
        <article role="main" class="h-entry" itemscope itemtype="http://schema.org/Article">
          <div class="entry-meta">
            {% if note.audio %}
              {% set episode = note.audio %}
              {% if episode.season and episode.episode %}
                <span class="item-label">S{{ episode.season }}E{{ episode.episode }}</span>
              {% endif %}
              <span class="item-label">{{ episode.audio.duration|durationformat }}</span>
            {% endif %}
            {% if note.published_at %}
              <time class="dt-published" datetime="{{ note.published_at|xmldatetime }}"
                    itemprop="datePublished">{{ note.published_at|dateformat('%b %d, %Y') }}</time>
            {% endif %}
          </div>
          <h1 class="p-name" itemprop="headline">{{ note.title }}</h1>
          {% if note.subtitle %}
            <h2 class="p-summary">{{ note.subtitle }}</h2>
          {% endif %}
          {% if note.review %}
            {% include "components/review.j2" %}
          {% endif %}
          <div class="e-content" itemprop="articleBody">
            {% include "components/audio-player.j2" %}
            {{ note.content }}
          </div>
          {% include "./_partials/entry-tags.j2" %}
          <div class="entry-block">
            {% include "./_partials/enjoy-button.j2" %}
            {% include "./_partials/share-buttons.j2" %}
          </div>
        </article>
        {% include "./_partials/previous-entry.j2" %}
        <section class="entry-comments">
          {% include "components/web-comment.j2" %}
        </section>
      </div>
    </div>
  </div>
  {% include "./_partials/site-foot.j2" %}
{% endblock %}
