{% block styles %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ _static_url }}/page.css">
{% endblock %}

{% block scripts %}
<script src="{{ _static_url }}/index.js" type="module"></script>
{% include "components/iconify-icon.j2" %}
{% endblock %}

{% block body %}
  {% include "./_partials/theme-switch.j2" %}
  <div class="body">
    {% include "./_partials/site-side.j2" %}
    <div class="main ui-root" data-page-container data-radius="medium" data-scaling="100%" data-has-background="true">
      {{ body }}
    </div>
  </div>
  {% include "./_partials/site-foot.j2" %}
{% endblock %}
