{% set has_content = 'class="e-content"' in body %}

{% block styles %}
{% if has_content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://s3.typlog.com/npm/@typlog/yue@1.1.1/yue.css">
{% endif %}
<link rel="stylesheet" href="{{ _static_url }}/page.css">
{% endblock %}

{% block scripts %}
<script src="https://code.iconify.design/iconify-icon/2.2.0/iconify-icon.min.js"></script>
<script src="{{ _static_url }}/index.js" type="module"></script>
{% endblock %}

{% block body %}
  <div class="absolute top-4 right-4">
    {% include "./_partials/theme-switch.j2" %}
  </div>
  <div class="body">
    {% include "./_partials/site-side.j2" %}
    <div class="main">
      <div class="inner main_mark" data-section-viewport="container">
        {{ body }}
      </div>
    </div>
  </div>
  {% include "./_partials/site-foot.j2" %}
  {% if has_content %}
  <script>document.querySelectorAll('.e-content').forEach(el => el.classList.add('yue'))</script>
  {% endif %}
{% endblock %}
