/* fix style for algolia docsearch */
html.light,
html.dark {
  --docsearch-background-color: var(--background-color);
  --docsearch-icon-color: var(--gray-11);
  --docsearch-secondary-text-color: var(--gray-11);
  --docsearch-modal-background: var(--background-color);

  --docsearch-primary-color: var(--accent-9);
  --docsearch-soft-primary-color: var(--accent-a2);
  --docsearch-subtle-color: var(--gray-4);
  --docsearch-text-color: var(--text-color);
  --docsearch-key-background: var(--gray-1);

  --docsearch-searchbox-background: var(--gray-3);
  --docsearch-searchbox-focus-background: var(--background-color);
  --docsearch-muted-color: var(--gray-10);
  --docsearch-focus-color: var(--accent-a8);
  --docsearch-highlight-color: var(--accent-a11);
  --docsearch-hit-color: var(--text-color);
  --docsearch-hit-background: var(--gray-a2);
  --docsearch-hit-highlight-color: var(--accent-a3);
  --docsearch-hit-shadow: inset 0 0 1px 0 var(--gray-a11);
  --docsearch-container-background: var(--gray-a5);
}
html.light {
  --docsearch-footer-background: var(--gray-3);
}
html.dark {
  --docsearch-footer-background: var(--gray-4);
  --docsearch-modal-shadow: inset 1px 1px 0 0 #373737,0 3px 8px 0 #141414;
}

.js-search .DocSearch-Button {
  margin: 0;
  width: auto;
}

.js-search .DocSearch-Button-Placeholder {
  display: inline-block;
}

.js-search .DocSearch-Button-Keys {
  display: flex;
}
